<template>
  <div>
    <div class="sidebar" :class="{open: isOpen}">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
          <div class="logo_name">CodingLab</div>
          <i class='bx bx-menu' id="btn" @click="toggleSidebar" ></i>
      </div>
        <ul class="nav-list">
          <li>
              <i class='bx bx-search' ></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
          </li>
          <li v-for="item in menuItems" :key="item.id">
            <a href="#">
              <i :class="'bx '+item.icon"></i>
              <span class="links_name">{{item.label}}</span>
            </a>
            <span class="tooltip">{{item.label}}</span>
          </li>
        <li class="profile">
            <div class="profile-details">
              <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="profileImg">
              <div class="name_job">
                <div class="name">Prem Shahi</div>
                <div class="job">Web designer</div>
              </div>
            </div>
            <i class='bx bx-log-out' id="log_out" ></i>
        </li>
        </ul>
      </div>
      <section class="home-section">
          <div class="text">Dashboard</div>
      </section>
  </div>
</template>

<script>
export default {
  data(){
    return{
      isOpen: false,
      menuItems:[
          {
            id: 1,
            label: "Project Information",
            icon: "bx-spreadsheet",
            link: "/console"
          },
          {
            id: 2,
            label: "Reports",
            icon: "bx-file",
            link: "/console/reports"
          },
          {
            id: 14,
            label: "Dashboard",
            icon: "bx-grid-alt",
            link: "/console/dashboard"
          },
          {
            id: 3,
            label: "Issues",
            icon: "bx-error-alt",
            link: "/console/issues"
          },
          {
            id: 4,
            label: "Pipelines",
            icon: "bx-network-chart",
            link: "/console/pipeline"
          },
          {
            id: 5,
            label: "System Audit",
            icon: "bx-shield",
            link: "/console/security"
          },
          {
            id: 6,
            label: "Monitoring",
            icon: "bx-desktop",
            link: "#",
            items: [
              {
                id: 601,
                label: "Log Insight",
                link: "/console/monitoring/log-ins"
              },
              {
                id: 602,
                label: "Metric Explorer",
                link: "/console/monitoring/metric-exp"
              },
              {
                id: 603,
                label: "Domain Monitoring",
                link: "/console/monitoring/ping"
              },
              {
                id: 604,
                label: "Data Source",
                link: "/console/monitoring/source"
              }
            ]
          },
          {
            id: 7,
            label: "Tools",
            icon: "bx-layer",
            link: "#",
            items: [
              {
                id: 701,
                label: "Code Analisys",
                link: "/console/tools/sca"
              },
              {
                id: 702,
                label: "Web Metric",
                link: "/console/tools/webm"
              },
              {
                id: 703,
                label: "Performance Test",
                link: "/console/tools/performance-test"
              }
            ]
          },
          {
            id: 8,
            label: "Docker Registries",
            icon: "bxl-docker",
            link: "/"
          },
          {
            id: 9,
            label: "Analytics",
            icon: "bx-bar-chart-alt-2",
            link: "/"
          },
          {
            id: 10,
            label: "Documentation",
            icon: "bx-folder",
            link: "/"
          },
          {
            id: 11,
            label: "Snippets",
            icon: "bx-cut",
            link: "/"
          },
          {
            id: 13,
            label: "Project Billing",
            icon: "bx-wallet-alt",
            link: "/"
          },
          {
            id: 12,
            label: "Settings",
            icon: "bx-cog",
            link: "/console/setting"
          },
      ]
    }
  },

  methods: {
    toggleSidebar(){
      console.log("toogle");
      this.isOpen=!this.isOpen;
    }
  }
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;

  .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

    .icon{
      opacity: 0;
      transition: all 0.5s ease;
    }

    .logo_name{
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      opacity: 0;
      transition: all 0.5s ease;
    }

    #btn{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 22px;
      transition: all 0.4s ease;
      font-size: 23px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease;
    }

  }

  .nav-list{
    margin-top: 20px;
    height: 100%;
  }

  i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }

  li{
    position: relative;
    margin: 8px 0;
    list-style: none;

    i{
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      border-radius: 12px;
    }

    .tooltip{
      position: absolute;
      top: -20px;
      left: calc(100% + 15px);
      z-index: 3;
      background: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      padding: 6px 12px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      transition: 0s;
    }

    a{
      display: flex;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      align-items: center;
      text-decoration: none;
      transition: all 0.4s ease;
      background: #11101D;

      .links_name{
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
      }
    }

    a:hover{
      background: #FFF;

      .links_name, i{
        transition: all 0.5s ease;
        color: #11101D;
      }
    }

    .profile-details{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    img{
      height: 45px;
      width: 45px;
      object-fit: cover;
      border-radius: 6px;
      margin-right: 10px;
    }
  }

  li:hover{
    .tooltip{
      opacity: 1;
      pointer-events: auto;
      transition: all 0.4s ease;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
  }

  .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
  }

  .bx-search:hover{
    background: #FFF;
    color: #11101d;
  }

  // PROFILE
  li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;

    .name, .job{
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      white-space: nowrap;
    }

    .job{
      font-size: 12px;
    }
  }

  .profile{
    #log_out{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: #1d1b31;
      width: 100%;
      height: 60px;
      line-height: 60px;
      border-radius: 0px;
      transition: all 0.5s ease;
    }
  } 
}

.sidebar.open{
  width: 250px;
  .logo-details{
    .icon, .logo_name{
      opacity: 1;
    }
    #btn{
      text-align: right;
    }
  }

  li{
    .tooltip{
      display: none;
    }

    a{
      .links_name{
        opacity: 1;
        pointer-events: auto;
      }  
    } 
  }

  input{
    padding: 0 20px 0 50px;
    width: 100%;
  }

  .bx-search:hover{
    background: #1d1b31;
    color: rgb(44, 44, 44);
  }

  li.profile{
    width: 250px;
  }

  .profile{
    #log_out{
      width: 50px;
      background: none;
    }
  } 
}
 
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;

  .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }
}

.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
</style>